/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* ----- zde začni psát vlastní CSS ----- */

h1 {
    font-size: 85px;
    margin: 0;
    font-weight: 500;
    color: white;
}

h2 {
    font-weight: 700;
    font-size: 20px;
    color:#48418e;
}

.txt-intro {
    color: white;
    font-size: 35px;
    font-weight: 300;
    max-width: 400px;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}

header nav {
    display: flex;
    /*position: absolute;*/
    width: 100%;
}

a {
    text-decoration: none;
}

.main-nav {
    padding-right: 4rem;
    padding: 1rem 2rem;
    color: #48418e;
}

.second-nav {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin-right: 1.5rem;
    font-size: 20px;
}

a.second-nav {
    box-shadow: -1px 3px 4px 2px rgba(0, 0, 0, 0.212);
}

nav a:hover{
    font-weight: bold;
}

.graphics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(/du-05---superappka-petrcoding/images/pozadi.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 480px;

    /*margin-top: 4rem;*/
}


.pic-phone {
    padding-top: 2rem;
    order: 5;
}

.graph-left {
    padding: 2.5rem;
    padding-right: 0;
}

.graph-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.picandtext {
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.plane {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 320px;
}

.chat {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 320px;
}

.map {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 320px;
}

.boxes {
    padding: 2rem;
    display: flex;
    align-items: center;
}

footer {
    text-align: center;
    padding: 0.5rem;
    background-color: #48418e;
    color: white;
}